.inputs-container {
  width: 100%;
}

.input-container {
  position: relative;
  flex: 1;
}

.countries-list {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  background-color: white;
  box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f;
  list-style-type: none;
  padding: 0;
  max-height: 240px;
  overflow-y: auto;
  cursor: pointer;
  z-index: 1000;
  border-radius: 4px;
}

.-hidden {
  visibility: hidden;
}

.country {
  padding: 16px;
  cursor: pointer;
}

.country:active,
.country:focus,
.country:hover {
  background-color: #f5f5f5;
}

.prefix {
  font-weight: bold;
}

.location-button.-done {
  background-color: #198754;
}
